<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/aboutMe.css"> 
    <title>AboutMe</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="title">
            <h1>ClassRoom Manager</h1>
        </div>
        <div class="info-box">
            <a href="./homepage.html">Home</a>
        </div>
    </nav>
    <div class="info_box">
        <h2 id="title__box">About You</h2>
        <input type="text" id="id_input" class="text_box" readonly="true">
        <input type="text" id="first_name_input" class="text_box" readonly="true">
        <input type="text" id="last_name_input" class="text_box" readonly="true">
        <input type="text" id="email_input" class="text_box" readonly="true">
        <input type="text" id="pwd_input" class="text_box" readonly="true">
        <input type="text" id="date_input" readonly="true">
    </div>
    <div id="error_text_div">
        <h6 id="error_text"></h6>
    </div>
    <script src="../scripts/aboutMe.js"></script>
</body>
</html>