<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/homepage.css"> 
    <title>HomePage</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="title">
            <h1>ClassRoom Manager</h1>
        </div>
        <div class="info-box">
            <a>About Me</a>
        </div>
    </nav>
</body>
</html>