<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/homepage.css"> 
    <title>HomePage</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="title">
            <h1>ClassRoom Manager</h1>
        </div>
        <div class="info-box">
            <a href="./aboutMe.html">About Me</a>
        </div>
    </nav>
    <table id="table">
        <tr class="table-row">
            <th class="table-header">Id</th>
            <th class="table-header">First Name</th>
            <th class="table-header">Last Name</th>
            <th class="table-header">Email</th>
            <th class="table-header">Password</th>
            <th class="table-header">Bday Date</th>
        </tr>
        <tr class="table-row-content">
            <td class="table-div">1</td>
            <td class="table-div">Vincenzo</td>
            <td class="table-div">Caliendo</td>
            <td class="table-div">vince@gmail.com</td>
            <td class="table-div">vince1234</td>
            <td class="table-div">23/06/2005</td>
        </tr>
    </table>
    <script src="../scripts/homePage.js"></script>
</body>
</html>