<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/homepage.css"> 
    <title>HomePage</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="title">
            <h1>ClassRoom Manager</h1>
        </div>
        <div class="info-box">
            <a href="./aboutMe.html">About Me</a>
        </div>
    </nav>
    <div id="no-students-div">
        <p id="no-students-text"></p>
    </div>
    <table id="table">
        <tr class="table-row">
            <th class="table-header">Id</th>
            <th class="table-header">First Name</th>
            <th class="table-header">Last Name</th>
            <th class="table-header">Email</th>
            <th class="table-header">Password</th>
            <th class="table-header">Bday Date</th>
        </tr>
    </table>
    <div class="input-container">
        <input id="id-input" type="text" placeholder="ID">
    </div>
    <div class="options-container">
        <button id="add-button" class="button">ADD</button>
        <button id="update-button" class="button">UPDATE</button>
        <button id="delete-button" class="button">DELETE</button>
    </div>
    <script src="../scripts/homePage.js"></script>
</body>
</html>