<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/login.css">
    <title>Login</title>
</head>
<body>
   <div class="title">
        <h1>ClassRoom Manager</h1>
   </div>
   <div class="login_box">
        <h2 id="title_login_box">LOGIN</h2>
        <input type="email" class="text_box" id="usr_input" placeholder="email" maxlength="30">
        <input type="password" class="text_box" id="pwd_input" placeholder="password" maxlength="25">
        <button id="login_btn">LOGIN</button>
        <h6 class="basic_text">non hai un account? <a class="basic_text" href="./registration.html">registrati ora</a></h6>
    </div>
</body>
</html>