<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/registration.css">
    <title>Registration</title>
</head>
<body>
    <div class="title">
        <h1>ClassRoom Manager</h1>
   </div>
   <div class="registration_box">
        <h2 id="title_login_box">REGISTRATION</h2>
        <input type="text" id="first_name_input" class="text_box" placeholder="first name" maxlength="18">
        <input type="text" id="last_name_input" class="text_box" placeholder="last name" maxlength="18">
        <input type="text" id="email_input" class="text_box" placeholder="email" maxlength="35">
        <input type="password" id="pwd_input" class="text_box" placeholder="password" maxlength="25">
        <input type="date" id="date_input">
        <button id="register_btn">REGISTER</button>
    </div>
    <div id="error_text_div">
        <h6 id="error_text"></h6>
    </div>
    <script src="../scripts/registration.js"></script>
</body>
</html>