<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style//updtStudent.css">
    <title>Update Student</title>
</head>
<body>
    <div class="title">
        <h1>ClassRoom Manager</h1>
   </div>
   <div class="updt-student-box">
        <h2 id="title-box">ADD STUDENT</h2>
        <input type="text" id="first_name_input" class="text_box" maxlength="18">
        <input type="text" id="last_name_input" class="text_box" maxlength="18">
        <input type="text" id="email_input" class="text_box" maxlength="35">
        <input type="text" id="pwd_input" class="text_box" maxlength="25">
        <input type="date" id="date_input">
        <button id="updt-btn">UPDATE</button>
    </div>
    <div id="error_text_div">
        <h6 id="error_text"></h6>
    </div>
    <script src="../scripts/updtStudent.js"></script>
</body>
</html>