@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    background-color: #0a0a0a
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: rgb(114, 61, 173);
    cursor: pointer;
}

.add-student-box {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    width: 420px;
    background-color: #161616;
    margin: auto;
    margin-top: 50px;
    height: 580px;
    gap: 30px;
    border-radius: 15px;
}

.text_box {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    outline: none;
    border: 4px solid #0a0a0a;
    text-align: center;
    height: 40px;
    background-color: #161616;
    color: rgba(245, 245, 245, 0.678)
}

#title_login_box {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    letter-spacing: 2.2px;
    word-spacing: 7px;
    color: rgb(114, 61, 173);
    cursor: pointer;
}

#date_input {
    height: 40px;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    background-color: #161616;
    color: rgba(245, 245, 245, 0.678);
    width: 200px;
    text-align: center;
    border: 4px solid #0a0a0a;
    word-spacing: 2px;
}

.text_box:hover {
    border: 5px solid #0a0a0a;
}

#add-btn {
    margin-bottom: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    outline: none;
    border: 4px solid #0a0a0a;
    text-align: center;
    width: 200px;
    background-color: #161616;
    color: rgb(114, 61, 173);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2.5px;
    cursor: pointer;
}

#add-btn:hover {
    border: 5px solid #0a0a0a;
}

#error_text_div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    display: none;
}
 
#error_text {
    display: none;
    font-family: 'Roboto Slab', serif;
    margin-top: 30px;
    color: rgba(255, 50, 43, 0.712);
    font-size: 15px;
    letter-spacing: 0.5px;
}