@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #0a0a0a
}

.main-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    background-color: #111111;
    height: 120px;
    min-width: 890px;
}

.info-box {
    margin-right: 10%;
}

.info-box a {
    font-family: 'Roboto Slab', serif;
    color: rgb(114, 61, 173);
    cursor: pointer;
    font-size: 25px;
    letter-spacing: 1px;
    text-decoration: none;
}

.info-box a:hover {
    font-size: 26.5px;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin: auto;
}

.title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: rgb(114, 61, 173);
    cursor: pointer;
}

#table {
    width: 95%;
    margin: auto;
    margin-top: 80px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    min-width: 890px;
}

.table-row {
    color: rgb(114, 61, 173);
    letter-spacing: 0.7px;
    font-size: 20px;
}

.table-row-content {
    color: rgb(177, 177, 177);
    letter-spacing: 0.7px;
    font-size: 18px;
}

.table-header {
    height: 70px;
    border: 4px solid #111111;
}

.table-div {
    height: 50px;
    border: 4px solid #111111;
}

#no-students-div {
    display: none;
    margin: 80px auto;
    width: 50%;
    text-align: center;
}

#no-students-div {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    letter-spacing: 1px;
    color: rgb(114, 61, 173);
    cursor: pointer;
}

.input-container {
    width: 110px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

#id-input {
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    outline: none;
    border: 3px solid #161616;
    text-align: center;
    height: 40px;
    letter-spacing: 3px;
    background-color: #0a0a0a;
    color: rgba(245, 245, 245, 0.678);
}

.options-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: auto;
    justify-content: center;
}

.button {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    outline: none;
    border: 3px solid #161616;
    text-align: center;
    width: 160px;
    background-color: #0a0a0a;
    color: rgb(114, 61, 173);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2.5px;
    cursor: pointer;
}

.button:hover {
    border: 4px solid #161616;
}

#id-input:hover {
    border: 4px solid #161616;
}
