@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    background-color: #0a0a0a
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.title h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: rgb(114, 61, 173);
    cursor: pointer;
}

.login_box {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    width: 450px;
    background-color: #161616;
    margin: auto;
    margin-top: 80px;
    height: 420px;
}

#title_login_box {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    letter-spacing: 5px;
    color: rgb(114, 61, 173);
    cursor: pointer;
}

@media(max-width: 526px) {
    .login_box {
        width: 90%;
    }
}

.text_box {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    outline: none;
    border: 4px solid #0a0a0a;
    text-align: center;
    height: 40px;
    background-color: #161616;
    color: rgba(245, 245, 245, 0.678)
}

.text_box:hover {
    border: 5px solid #0a0a0a;
}

#usr_input {
    margin-top: 40px;
}

#pwd_input {
    margin-top: 40px;
}

#login_btn {
    margin-top: 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    outline: none;
    border: 4px solid #0a0a0a;
    text-align: center;
    width: 200px;
    background-color: #161616;
    color: rgb(114, 61, 173);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2.5px;
    cursor: pointer;
}

#login_btn:hover {
    border: 5px solid #0a0a0a;
}

.basic_text {
    font-family: 'Roboto Slab', serif;
    margin-top: 34px;
    font-size: 16px;
    color: rgba(245, 245, 245, 0.678);
    word-spacing: 2px;
}

.basic_text a {
    text-decoration: none;
    color: rgb(114, 61, 173);
}

#error_text_div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    display: none;
}

#error_text {
    display: none;
    font-family: 'Roboto Slab', serif;
    margin-top: 30px;
    color: rgba(230, 11, 11, 0.486);
    font-size: 15px;
    letter-spacing: 0.5px;
}
