@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    background-color: #0a0a0a
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.title h1 {
    font-family: 'Roboto Slab', serif;
    color: rgb(241, 241, 241);
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: rgb(114, 61, 173);
    cursor: pointer;
}
